coverage
node_modules
source/packages
source/bin
source/obj
test/bin
test/obj
source/Spiro.Modern.v12.suo
source/Scripts/*.map
source/Scripts/spiro.config.js
source/Scripts/spiro.config.ts
source/Scripts/spiro.models.helpers.js
source/Scripts/spiro.models.helpers.ts
source/Scripts/spiro.models.shims.js
source/Scripts/spiro.models.shims.ts
source/Scripts/spiro.models.js
source/Scripts/spiro.models.ts
source/Spiro.Modern.csproj.user
source/Scripts/spiro.angular.services.transformstrategy.ts
source/Scripts/spiro.angular.services.representationloader.js
source/Scripts/spiro.angular.services.representationloader.ts
source/Scripts/spiro.angular.services.transformstrategy.js
source/Scripts/spiro.angular.services.loaderwithtransform.js
source/Scripts/spiro.angular.services.loaderwithtransform.ts
source/Scripts/spiro.angular.services.mask.js
source/Scripts/spiro.angular.services.mask.ts
source/Scripts/spiro.angular.services.color.js
source/Scripts/spiro.angular.services.color.ts
source/Scripts/jasmine-samples/Player.js
source/Scripts/jasmine-samples/PlayerSpec.js
source/Scripts/jasmine-samples/Song.js
source/Scripts/jasmine-samples/SpecHelper.js
source/Tests/specs/viewModelFactoryService.js.map
source/Tests/specs/helpers.js.map
source/Tests/specs/handlersService.js.map
source/Tests/specs/controllers.js.map
source/Tests/specs/contextService.js.map
source/Spiro.Modern.sln.DotSettings.user
test-results/karma-test-results.xml
test/Spiro.Angular.Selenium.Test.csproj.user
source/Spiro.Modern.v11.suo
source/.vs/Spiro.Modern/v14/.suo
source/.vs/config/applicationhost.config
TESTS-IE_11.0.0_(Windows_10_0.0.0).xml
TESTS-IE_11.0.0_(Windows_8.1_0.0.0).xml
