<div class="summary">
    <div class='name'>{{collection.title}}:</div>
    <div class="details">{{collection.size}}-{{collection.pluralName}}</div>
    <a class="icon-summary" href="" ng-click="collection.doSummary()"></a>
    <a class="icon-table" href="" ng-click="collection.doTable()"></a>
</div>
    <table >
        <tbody>
            <tr ng-repeat="item in collection.items" ng-class="item.color" ng-click="item.doClick()">
                <td class="reference clickable-area" >
                    <span></span>{{item.title}}
                </td>
            </tr>
        </tbody>
    </table>
    
