<div class="object" ng-class="object.color">
    <div class="header">
        <div class="title">{{object.title}}</div>
        <div class="type"></div>
        <div class="menus">
            <div class="menu clickable-area" ng-class="menu.color">
                <a href="" ng-click="object.toggleActionMenu()">Actions</a>
            </div>
        </div>
        <div class="messages">{{object.message}}</div>
    </div>
    <div class="actions" ng-include="actionsTemplate"></div>
    <div class="main-column">
        <div class="dialog" ng-include="dialogTemplate"></div>
        <div class="properties" ng-include="propertiesTemplate"></div>
    </div>
    <div class="collections" ng-include="collectionsTemplate"></div>
</div>