<div class="object" ng-class="object.color">
    <div class="header">
        <div class="type"></div>
        <div class="title">{{object.title}}</div>
        <div class="menu clickable-area" ng-class="menu.color" ng-click="object.toggleActionMenu()">
            Actions
        </div>
        <div class="messages">{{object.message}}</div>
    </div>
    <div class="actions" ng-include="actionsTemplate"></div>
    <div class="main-column">
        <div class="dialog" ng-include="dialogTemplate"></div>
        <div class="properties" ng-include="viewPropertiesTemplate"></div>
    </div>
    <div class="collections" ng-include="collectionsTemplate"></div>
</div>